.button {
	font-size: 1.1rem;
	text-transform: uppercase;
	color: var(--text-white);
	font-weight: 600;
	text-decoration: none;
	min-width: 130px;
	max-width: 200px;
	padding: 0 12px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-image: var(--color-gradient);
	box-shadow: var(--box-shadow);
	opacity: 0.85;
	border-radius: 4px;
	transition: 0.4s ease;
	cursor: pointer;
	border: none;

	&:hover {
		color: var(--text-white);
		opacity: 1;
	}
}
