.title {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.06);

	h1 {
		color: var(--text-white);
	}
}

.cart {
	width: 100%;
	height: 110px;
	padding: 20px;
	margin-top: 30px;
	position: relative;
	background-color: var(--color-bg-200);
	border-radius: 4px;
	overflow: hidden;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		display: block;
		border-top-right-radius: 40px;
		border-top-left-radius: 40px;
		background-image: var(--color-gradient);
		box-shadow: var(--box-shadow);
	}

	h3 {
		color: var(--text-white);
		font-size: 2rem;
		font-weight: 600;
		padding-bottom: 6px;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		span {
			font-size: 1.6rem;
			font-weight: 600;
			color: var(--text-white);
			display: flex;
			align-items: flex-end;

			svg {
				width: 28px;
				height: 28px;
			}
		}
	}
}
